
body { font-family: sans-serif; margin:0; background:#f6f6f6; color:#333; }
header { background:#2b703e; color:white; padding:20px; text-align:center; }
.logo { width:80px; border-radius:50%; }
main { padding:20px; font-size:1.2em; }
.ernte-photo {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
